<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">
    <xacro:include filename="$(find mybot_description)/urdf/second_robot/common_inertia.xacro"/>
    <xacro:macro name="camera_xacro" params="xyz rpy">
        <link name="camera_link">
            <visual>
                <origin xyz="0 0 0" rpy="0 0 0"/>
                <geometry>
                    <box size="0.05 0.04 0.03"/>
                </geometry>

                <material name="camera_green">
                    <color rgba="0 1 0 1"/>
                </material>
            </visual>

            <collision>
                <origin xyz="0 0 0" rpy="0 0 0"/>

                <geometry>
                    <box size="0.05 0.04 0.03"/>
                </geometry>
            </collision>

            <xacro:box_inertia m="0.05" w="0.05" h="0.04" d="0.03"/>

        </link>

        <joint name="camera_joint" type="fixed">
            <parent link="base_link"/>
            <child link="camera_link"/>
            <origin xyz="${xyz}" rpy="${rpy}"/>

        </joint>

    </xacro:macro>

</robot>
